
@inherits Umbraco.Web.Mvc.UmbracoViewPage
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Umbraco816</title>
</head>
<body class="dashboard dashboard--v3">
       <section class="content is-mobile js-menu-state">
            <div class="content__main">
                @RenderSection("Content", false)
            </div>
        </section>
</body>
</html>